venv/
target/
dbt_packages/
logs/
*.json
__pycache__/
.env
.claude
docs/olist_data
docs/architecture.dot
docs/dbt_analytics_stack_guide.md
docs/ecommerce-dbt-stack-0bfba696cca0
docs/Portfolio_Project_2-dbt_Analytics.docx